<a href="https://colab.research.google.com/github/Revathi9n/github-pages/blob/main/whileloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = 1
while count <=5:    #condition
  print(count)
  count+=1     #1,2,3,4,,5

1
2
3
4
5

In [ ]:
count =0
while count <=10:
  print(count)
  count+=2

0
2
4
6
8
10

In [ ]:
count=10
while count <=20:
  print(count)
  count+=1

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
count=15
while count<=30:
  print(count)
  count+=2

15
17
19
21
23
25
27
29

In [ ]:
count = 0
while count <=100:
  print(count)
  count+=2

In [ ]:
x=2
counter=1

while x>5:
  print("interation",counter,x)
  counter=counter+1
  x=x+1

In [ ]:
x=1
while x<6:
  print((5-x)*""+x*"*"+(6-x)*"")
  x+=1

*
**
***
****
*****

In [ ]:
a=1
while a<=10:
  if(a%2==0):
    print(a,"is odd number")
  else:
    print(a,"is even number")

In [ ]:
for i in range(1,100):
  if i == 10:
    print(i)
    break
    #print(number)

10

In [ ]:
for number in range(1,100):
  if number == 10:
    break
    print(number)

In [ ]:
for number in range(1,100):
   print(number)
   if number == 10:
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,10):
  if i==5:
    continue
  print(i,end=",")

0,1,2,3,4,6,7,8,9,

In [ ]:
for i in range(0,10):
  if i==6:
    continue
  print(i,end=",")

0,1,2,3,4,5,7,8,9,

In [ ]:
for number in range(10):
  if number % 2 ==1:
    continue
  print(number,end="\t")

0	2	4	6	8

In [ ]:
for number in range(10):
  if number % 2 ==0:
    continue
  print(number,end="\t")

1	3	5	7	9

In [ ]:
for i in range(0,10):
  if i<5:
    continue
    print(i,end=",")
  else:
    print(i,end=",")

5,6,7,8,9,

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print([i,j],end=',')

[1, 1],[1, 2],[1, 3],[1, 4],[1, 5],[2, 1],[2, 2],[2, 3],[2, 4],[2, 5],[3, 1],[3, 2],[3, 3],[3, 4],[3, 5],[4, 1],[4, 2],[4, 3],[4, 4],[4, 5],[5, 1],[5, 2],[5, 3],[5, 4],[5, 5],

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,j)
    if j==3:
      break

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
5 1
5 2
5 3

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j==3:
       print(i,j)
       break

1 3
2 3
3 3
4 3
5 3

In [11]:
#Nested for loops:

for i in range(1,6):
  for j in range(1,6):
    print(i,j,end=',')

1 1,1 2,1 3,1 4,1 5,2 1,2 2,2 3,2 4,2 5,3 1,3 2,3 3,3 4,3 5,4 1,4 2,4 3,4 4,4 5,5 1,5 2,5 3,5 4,5 5,

In [10]:
for i in range(1,6):
  for j in range(i):
    print(i,end=' ')

1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [9]:
for i in range(1,6):
  print(i)
  for j in range(i):
    print(i,end=" ")

1
1 2
2 2 3
3 3 3 4
4 4 4 4 5
5 5 5 5 5

In [6]:
#Pattern Printing
for i in range(1,6):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [14]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=' ')
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
for i in range(1,5):
  print(" "*(10-i), end=" ")
  for j in range(1,i+1):
    print(i,end=' ')
  print()

          1
         2 2
        3 3 3
       4 4 4 4

In [17]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [18]:
#Functions

def greet():
  print("Hello, world!")
greet()

Hello, world!

In [19]:
greet()

Hello, world!

In [22]:
def my_name():
  print("Revathi")
my_name()

Revathi

In [24]:
my_name()

Revathi

In [27]:
#Function Parameters and Arguments
#Two types of functions:
#1.User defined function   2, Built in function


def greet(arg):
  print(f"Good Morning, {arg}!")
greet("Revathi")

Good Morning, Revathi!

In [33]:
def multiply(a, b,):
  return a*b

result= multiply(3,5)
print(result)

15

In [34]:
def addition(a,b):
  return a+b
result=addition(2,3)
print(result)

5

In [35]:
def substraction(a,b):
  return a-b
result=substraction(5,2)
print(result)

3

In [37]:
def division(a,b):
  return a/b
result=division(10,2)
print(result)

5.0